### No need to change
PGTZ=Europe/Bucharest
LANG=en_US.UTF-8

# TELEGRAM superuser password - will be used when you first start the bot.
SUPERADMIN_PASSWORD=mellon


### PLEX docker variables ###

PLEX_FILES_LOCATION=/mnt/Media/Movies&TV/plex
# This is where Transmission will save all your downloaded tv shows
# and where PLEX will pick them up
PLEX_TV_LIBRARY_FOLDER=/mnt/Media/Movies&TV/TV
# This is where Transmission will save all your downloaded movies
# and where PLEX will pick them up
PLEX_MOVIES_LIBRARY_FOLDER=/mnt/Media/Movies&TV/Movies


### TRANSMISSION docker variables ###
# Login user and pass to login into localhost:9091 for transmission.
TRANSMISSION_FILES_LOCATION=/mnt/Media/Movies&TV/transmission
TRANSMISSION_USER=
TRANSMISSION_PASS=
TORR_PORT=9091
TORR_DOWNLOAD_FOLDER=/movies
TORR_SEED_FOLDER=/movies


### Newsletter routine times ###

# Hours of the day when to run the routine. 6,14,18 means it will run 3 times a day.
NEWSLETTER_ROUTINE_TIMES=6,18


### POSTGRES PLEX settings ###

POSTGRES_DB=movielib
POSTGRES_HOST=192.168.1.99
POSTGRES_PORT=5432
POSTGRES_USER=mike
POSTGRES_PASSWORD=pass
POSTGRE_DB_LOCATION=/mnt/Media/movielib
PGADMIN_EMAIL=
PGADMIN_PASS=
PGADMIN_PORT=5050


### Filelist settings ###

API_URL=https://filelist.io/api.php
USER=
PASSKEY=

# Your public STATIC IP here. When you hit download from email it will be sent here
TORR_API_HOST={public ip here}
TORR_API_PATH=/torr_api
TORR_API_PORT=9092
TORR_HOST=192.168.1.99

# Used to secure incoming calls to API (not implemented)
TORR_HASH_KEY=this_my_hash_key

# days, to be used in TORR_REFRESHER, check_seeding_status
TORR_KEEP_TIME=60
NO_POSTER_PATH=images/no-poster.png

# TELEGRAM
TELEGRAM_TOKEN=
TELEGRAM_AUTH_TEST_PATH=images/auth_test.png
TELEGRAM_AUTH_APPROVE=images/approve.jpg
TELEGRAM_IMDB_RATINGS=images/ratings.jpg
TELEGRAM_NETFLIX_PNG=images/netflix.png
TELEGRAM_RESET_PNG=images/reset.png
# minutes
TELEGRAM_WATCHLIST_ROUTINE_INTERVAL=60
# minutes
TELEGRAM_RATE_ROUTINE_INTERVAL=5
MOVIE_HDRO=19
MOVIE_4K=26
SOAP_HD=21
SOAP_4K=27


### PLEX server settings ###

PLEX_HOST=http://192.168.1.99:32400
PLEX_TOKEN=
# Will also appear in emails sent
PLEX_SERVER_NAME=
# list of emails, separated by ", " - the space is important.
PLEX_ADMIN_EMAILS=""
# If you have multiple admins or other users which are not friends,
# you ve got to mention their emails here unfortunately. Their name must be their email. Not tested tho, dont have
# plex pass.
# The account the TOKEN belongs to should always be first, AKA your account

### TMDB & OMDB ###
TMDB_API_KEY=
OMDB_API_KEY=

# Number of minutes between refreshing of imdb watchlist, imdb ratings, plex activity and torrent activity.
MYIMDB_REFRESH_INTERVAL=1


### EMAIL settings ###
XML_TRNT_PATH=views/new_trnt.xml
TEMPLATE_PATH=views/email_filelist.html
MOVIE_TEMPLATE_PATH=views/_movie.html
TRNT_TEMPLATE_PATH=views/_torrent.html
# Email account from where to send the newsletters.
EMAIL_USER=
EMAIL_PASS=
EMAIL_HOSTNAME=smtp.gmail.com