						<tr>
							<td style="text-align: center;">
								<strong>trnt_trend</strong>
							</td>
							<td style="text-align: right;">
								<strong>trnt_resolution</strong>
							</td>
							<td style="text-align: right;">
								<strong>trnt_sizeGb</strong>
							</td>
							<td style="text-align: center; vertical-align: middle;">
								trnt_freeleech
							</td>
							<td style="text-align: center; height: 30px;">
								<a class="btnSd" href="trnt_torr_link_seed">SEED ONLY</a>
							</td>
							<td style="text-align: center; height: 30px;">
								<a class="btnDw" href="trnt_torr_link_download">DOWNLOAD</a>
							</td>
						</tr>