<table style="width: 600px">
	<tbody>
		<tr>
			<td style="font-size: 20px; color: #136cb2; background-color: #mprm_bck_color" colspan="2">
				<span style="color: #666; font-size: 13px;">mprm_crt.&ensp;</span>
				<strong>mprm_title</strong>&ensp;(mprm_year)
			</td>
		</tr>
		<tr>
			<td rowspan="5" align="center" style="font-size: 11px;">
				<a href="https://www.imdb.com/title/ttmprm_imdb_id" target="_blank" rel="noopener">
					<img src="mprm_poster" alt="poster" height="209" />
				</a>
				<br>
				mprm_trailer
			</td>
		</tr>
		<tr>
			<td style="font-size: 11px; color: #666;">
				<span class="">mprm_genre&ensp;</span>
				<span style="color: #ccc;">| &ensp;mprm_rated&ensp; </span>
				<span style="color: #ccc;">|</span>
				<span class="">&ensp;mprm_countries&ensp;</span>
				<span style="color: #ccc;">|</span>&ensp;mprm_runtime min.&ensp;
			</td>
		</tr>
		<tr>
			<td style="font-size: 11px; color: #666;">IMDB:
				<span class="class_imdb_score"><strong>&ensp;mprm_imdb_score&ensp;</strong></span>
				<span style="color: #ccc;">|</span>&ensp;TMDB:
				<span class="class_score"><strong>&ensp;mprm_score&ensp;</strong></span>
				<span style="color: #ccc;">|</span>&ensp;Rotten T:
				<span class="class_rott_score"><strong>&ensp;mprm_rott_score&ensp;</strong></span>
				<span style="color: #ccc;">|</span>&ensp;Meta C:
				<span class="class_meta_score"><strong>&ensp;mprm_meta_score&ensp;</strong></span>
				<span style="color: #ccc;">|</span>&ensp;mprm_seen_date
				<span class="class_my_imdb_score"><strong>&ensp;mprm_my_imdb_score&ensp;</strong></span>
			</td>
		</tr>
		<tr>
			<td style="font-size: 10px;">mprm_ovrw</td>
		</tr>
		<tr>
			<td style="font-size: 11px; color: #666;">Directors:
				<span style="color: #333333;"><strong>&ensp;mprm_directors&ensp;</strong></span>
				<span style="color: #ccc;">|</span>&ensp;Stars:
				<span style="color: #333333;"><strong>&ensp;mprm_cast</strong></span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table style="width: 100%; font-size: 11px; background-color: #mprm_bck_color;">
					<tbody>
trnt_tbody
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<p></p>