APScheduler==3.10.4
certifi==2024.2.2
charset-normalizer==3.3.2
cinemagoer==2023.5.1
greenlet==3.0.3
idna==3.6
lxml==5.1.0
numpy==1.26.4
omdb==0.10.1
pandas==2.2.1
parse-torrent-title==2.8.1
PlexAPI==4.15.10
psycopg2==2.9.9
pycryptodome==3.20.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.27
tmdbsimple==2.9.1
transmission-rpc==7.0.3
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
wincertstore==0.2
Jinja2==3.1.4