certifi
charset-normalizer
greenlet
idna
cinemagoer
lxml
numpy
omdb
pandas
parse-torrent-title
PlexAPI
psycopg2
pycryptodome
python-dateutil
python-dotenv
pytz
requests
six
SQLAlchemy
tmdbsimple
transmission-rpc
typing-extensions
urllib3
wincertstore
APScheduler