certifi
charset-normalizer
greenlet
idna
IMDbPY
lxml
numpy
omdb
pandas
parse-torrent-title
PlexAPI
psycopg2
pycryptodome
python-dateutil
python-dotenv
pytz
requests
six
SQLAlchemy
tmdbsimple
transmission-rpc
typing-extensions
python_telegram_bot==20.0a0
urllib3
wincertstore
beautifulsoup4
